<div class="navbar navbar-inverse navbar fixed-top">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/whats">Whats's going on ?</a>
  <a class="navbar-brand" href="/">Where's it going on ?</a>
  <a class="navbar-brand" href="/">Why is it going on ?</a>

  <a class="navbar-brand" href="/sign-in">Sign In</a>
  <a class="navbar-brand" href="/">Sign Up</a>


</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="jumbotron">
        <h1> Blah Blah Blogs</h1>
        <!-- navbar here -->
      </div>
    </div>
    <style>
    body {
      background: url('') no-repeat 50% 50% fixed;
      background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
    }
    </style>
    <div class="container">

      <%= yield %>
      <footer>
        Created by McCartney Bohn
      </div>
    </footer>
